{"serviceName":"linkplatformconnectratescf","lastConfigTime":1500544874000,"config":"<Service name=\"linkplatformconnectratescf\" id=\"2\" maxThreadCount=\"50\"><Commmunication ><SocketPool bufferSize=\"4096\" minPoolSize=\"5\" maxPoolSize=\"50\" nagle=\"false\" autoShrink=\"00:00:20\" sendTimeout=\"00:00:03\" receiveTimeout=\"00:00:01\" waitTimeout=\"00:00:01\" maxPakageSize=\"102400\" protected=\"false\" reconnectTime=\"0\" recvBufferSize=\"4096\" sendBufferSize=\"4096\" connectionTimeout=\"00:00:02\" readWriteTimeout=\"30\" /><Protocol serialize=\"SCF\" encoder=\"UTF-8\" compressType=\"UnCompress\" protocolType=\"V2\" /></Commmunication><Loadbalance><Server deadTimeout=\"00:00:20\"><add name=\"linkplatformconnectratescf170987046\" host=\"10.49.14.38\" port=\"16830\" /></Server></Loadbalance></Service>","dataType":"NORMAL","forbidType":"OTHER"}